.main-heading {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.bg-container {
  min-height: 100vh;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.main-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 1rem;
}

@media screen and (max-width: 650px) {
  .main-container {
    width: 100%;
  }

  .contact-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .main-container {
    width: 80%;
  }

  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 900px) {
  .main-container {
    width: 50%;
  }

  .contact-container {
    flex-direction: row;
  }
}

.form-container {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 12px;
  padding: 1.25rem;
}

.label-text {
  font-weight: bold;
}

.contact-details {
  font-weight: bold;
  font-size: 1.5rem;
  color: bold;
  text-decoration: underline;
  text-transform: capitalize;
}

.error{
  color: red;
}